@charset "UTF-8";

/* Aparelho deitado (landscape)*/

@media screen and (orientation:landscape) and (min-width:649px){

    header {
        width: 98.5vw;
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}

@media screen and (min-width:649px) {

    span#burguer {
        display: none;
    }

    menu.curso_video {
        display: block;
        background-color: white;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);
        margin: 5px;
    }

    menu > ul > li {
        display: inline-block;
        background-color: white;
        margin: 0px;
        border: none;
        font-weight: bold;
    }

    menu > ul > li:hover{
        background-color: var(--cor4);
        color: white;
        transition: background-color 1s;
    }

    menu > ul > li > a {
        color: black;
    }

    menu > ul > li > a:hover {
        color: white;
    }

    main > iframe {
        background-image: url(../imagens/cursoemvideo-logo.png);
        background-size: 400px;
    }

    main > ul {
        columns: 2;
    }

    footer {
        font-size: 1.3em;
    }
}
