@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #6C18FF;
    --cor1: #2F15E8;
    --cor2: #233DFF;
    --cor3: #155FE8;
    --cor4: #179FFF;
}

body, html {
    background-color: white;
}

header {
    width: 96.6vw;
    height: 500px;
    background-color: var(--cor2);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}

header > p > a {
    float: right;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
    color: white;
    border-radius: 10px;
}

span#burguer {
    display: block;
    color: white;
    background-color: var(--cor2);
    text-align: center;
    padding: 10px;
    width: 96.6vw;
}

span#burguer:hover {
    background-color: #179FFF;
    color: var(--cor2);
    cursor: pointer;
}

/*  Apagar barras de rolagem */
/* ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}  */


menu {
    margin: auto;
    text-align: center;
}

menu.curso_video {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    border: 2px solid var(--cor0);
    background-color: var(--cor3);
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}

menu > ul > li:hover {
    background-color: var(--cor4);
}

menu > ul > li > a {
    color: white;
    text-decoration: none;
}

main {
    width: 90vw;
    margin: auto;
    box-shadow: 0px 0px 15px #0000002d;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

main > iframe {
    height: 800px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    background: white url(../imagens/logo-curso-em-video.png) center center no-repeat ;
    background-size: 100px;
}

main > h2 {
    text-align: center;
    padding: 30px;
    background-color: var(--cor3);
    color: white;
}

main > ul {
    list-style-type: '\25B6\00A0\00A0';
    list-style-position: inside;
    font-size: 1.05em;
}

main > ul > li {
    padding: 10px;
    line-height: 30px;
}

main > ul > li > a {
    color: black;
    text-decoration: none;

}

main > ul > li > a:hover {
    text-decoration: underline;    
}

main > ul > li > a::after {
    content: '\1F517';

}

main > ul > li > a:active {
    color: var(--cor0);
}

footer {
    background-color: var(--cor0);
    color: white;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

footer a {
    color: var(--cor4);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}